
<!DOCTYPE html>
<html>
<head>
 <title>Deep Ocean</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<title>Deep Ocean</title>
</head>
<body>
<div class="container">
<form action = "http://localhost:5000/home" autocomplete="off" class="navbar-form" method = "post" accept-charset="utf-8">

<center>
<img class="img-fluid" src="/static/icon2.png" alt="Deep Ocean">


<div class="input-group col-lg-12">

    <input type="text" class="form-control" placeholder="Search" name=srh>
	<a href="http://localhost:5000/result" div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
	
  </div>
  
  

<!--<div class="row">
    
    <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
   
  </div>>-->
<!--<input type="search" name=srh size="50" value=" "/>-->




</center>
<form/>
</div>
</body>
</html>
